datasetsforecast==0.0.8
gluonts==0.14.3
lightning==2.1.3
mizani==0.9.3
neuralforecast==1.6.4
numpy==1.26.3
pandas==2.1.4
plotnine==0.12.4
pytorch-lightning==2.1.3
scikit-learn==1.3.2
scipy==1.11.4
statsforecast==1.7.1
arch==6.3.0
numerize==0.12